.add_task{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add_task a {
    margin-left: 30px;
    padding: 5px 10px;
    font-size: 15px;
    text-decoration: none;
    color: white;
    border-style: none;
    border-radius: 5px;
    background-color: cadetblue;


}

.task_content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}


.task_details{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: antiquewhite;
    border-radius: 5px;
    font-size: 18px;
    padding: 30px;
    margin-left: 40px;
    margin-top: 20px;

}


.briefTask_title{
    font-size: 23px;
    font-weight: bold;
}

.task_details a{
    width: 100px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-align: center;
    border-style: none;
    border-radius: 5px;
    padding: 10px 5px;
    background-color: cadetblue;
}